/*
    Name: Wen Qiu
    Date: May 17, 2019
    Section: CSE 154 AJ
    This is the style.css page for the CSS Lint to give the site a consistent
    look and feel.
*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Open+Sans:400,600,700');

/*
 * Used button style from course website
 */
button {
  margin: 6px 0px 15px 20px;
  background-color: #0076ff;
  padding: 6px 12px 6px 12px;
  border-radius: 7px;
  box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
}

div {
  margin-left: auto;
  margin-right: auto;
}

#output-area {
  text-align: left;
  width: 50%;
}

#random-tips-area {
  width: 80%;
}

.msg {
  background-color: yellow;
}

.pass {
  background-color: green;
}

.msg, .pass {
  width: 100%;
  height: 50px;
}

body, button, div {
  text-align: center;
}

button, textarea {
  font-size: 10pt;
}

body, button, textarea {
  font-family: 'Open Sans', sans-serif;
}

button, .pass {
  color: white;
}
